/* ===== Scroll Reveal Animation ===== */

.reveal{
    opacity:0;
    transform:translateY(30px);
    transition:all 0.8s ease;
}

.reveal.active{
    opacity:1;
    transform:translateY(0);
}

/* Hover interaction */

section{
    transition:0.3s ease;
}

section:hover{
    transform:translateY(-6px);
    box-shadow:0 8px 25px rgba(0,0,0,0.12);
}
/* ===== Contact Buttons ===== */

.contact-buttons{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    margin-top:20px;
}

.contact-btn{
    text-decoration:none;
    background:#111;
    color:white;
    padding:12px 25px;
    border-radius:40px;
    font-weight:500;
    transition:0.3s ease;
    border:1px solid #333;
}

.contact-btn:hover{
    background:#0a3d62;
    transform:translateY(-3px);
    box-shadow:0 6px 15px rgba(0,0,0,0.2);
}
